name: Docker Image CI

on: 
  push:
    branches: [main]
  pull_request:
    branches: ["main"]
    
jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push Docker image
        run: docker build . --file Dockerfile --tag nurcholishadam04/green_agent:latest 

      - name: Push to Docker Hub
        run: docker push nurcholishadam04/green_agent
