name: Build and push Docker image to Docker Hub

on:
  push:
    branches: [ "main" ] # Trigger on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.nurcholishadam04 }}
        password: ${{ secrets.dckr_pat_AoYZORJXLWP1NDTCXM47VC1sJyI}}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/your-repository-name:latest # Replace with your Docker Hub repo name
