name: Build & Push Green Agent (AgentBeats)

on: 
  push:
    branches: [main]
    tags:
      - "v*"

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      # 1. Checkout repo (required for Docker context)
      - name: Checkout repository
        uses: action/checkout@v4

      # 2. Login to Docker Hub (FIXED)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          pasaword: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Build and push benchmark image
      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context:
          file: Dockerfile.benchmark
          push: true
          tags: |
            nurcholishadam04/green_agent
            nurcholishadam04/green_agent:${{ github.ref_name}}


      
